# project and cache file
/conda-env
/dev
.vscode
*.pyc
*.ipynb
*.swp
.ipynb_checkpoints/
*.DS_Store

# download data
**/download-data_lake/*
**/structured/*
!.keep
!data/taipei_income_by_counties/download-data_lake/*
